{% extends "courses/layout.html" %}

{% block body %}

    <h1>{{ course.code }} {{ course.name }}</h1>
    <ul>
    <li>{{ course.semester }} / {{ course.year }}</li>
    <li>capacity : {{ course.seat }}</li>
    <li>Status: {{ course.status }}</li>
    </ul>
    
    <h2>Student now : {{now}}</h2>
    
    <ul>
        {% for i in students %}
        <li>{{ i.first_name }} {{ i.last_name }}</li>
        {% empty %}
        <li>No studenet </li>
        {% endfor %}
    </ul>
    
    {% if course.status == True %}
    {% if course.seat > now %}
    <h3><a href="{% url 'courses:takecourse' course.code %}">Take this Course</a></h3> 
    <h3><a href="{% url 'courses:rmcourse' course.code %}">Remove this Course</a></h3>
    <br>
    {% else %}
    <h3>THIS COURSE IS FULL!!!</h3>
    {% endif %}
    {% else %}
    <h3>THIS COURSE IS OFF!!!</h3>
    {% endif %}
    <h4><a href="{% url "courses:index" %}">Back to Course List</a></h3>
{% endblock %}