* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('bgcl.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-attachment: fixed;
    flex-direction: column;

}

q {
    font-size: 50px;
    color: coral;
}

p {
    font-size: 20px;
    color: coral;
    position: relative;
    display: inline-block;
    padding: 10px 100px;
    background: white;
    border-radius: 10px;
    text-decoration: none;

}

.container {
    position: relative;
    width: 2000px;
    justify-content: center;
    align-items: center;
}


.container .card:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.container .card {
    position: relative;
    width: 450px;
    height: 80px;
    background: white;
    margin: 20px auto;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 3px 3px 10px coral;
    transition: 0.5s;
    text-align: center;
}


.container .card .cardcontent{
    padding-top: 10px;
    text-align: center;
}

.container .card .cardcontent a {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    background: peachpuff;
    color: steelblue;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 10px;
}