@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-attachment: fixed;
  flex-direction: column;
}
div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;

}
.foo .letter{
  display: inline-block;
  font-weight: 900;
  font-size: 4em;
  margin: 0.2em;
  position: relative;
  color: lightblue;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: black;
  text-shadow:
    -1px 0px 1px rgba(14, 78, 218, 0.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: rgb(58, 175, 211);
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);

}

foo .container {
    position: relative;
    width: 2000px;
    justify-content: center;
    align-items: center;
}


.foo .container .card:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.foo .container .card {
    position: relative;
    width: 400px;
    height: 150px;
    background: white;
    margin: 0px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(14, 78, 218, 0.8);
    transition: 0.5s;
    text-align: center;
}




