{% extends "users/layout.html" %}

{% block body %}

    <h1>Welcome, {{ request.user.first_name }}</h1>

    <ul>
        <br>
        <p>Username: {{ request.user.username }}</p>
        <p>Email: {{ request.user.email }}</p>

    </ul>


    {% if perms.app_label.can_do_something %}
    <div class="container">
        <div class="card">
            <div class="cardcontent">
            <a href="{% url 'admin:index' %}">manage courses</a><br>
            </div>
        </div>
    </div>
    {% endif %}
     <div class="container">
        <div class="card">
            <div class="cardcontent">
            <a href="{% url 'courses:index' %}">Course list</a><br>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="cardcontent">
            <a href="{% url 'users:logout' %}">Log out</a>
            </div>
        </div>
    </div>

{% endblock %}